* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Comic", sans-serif;
  background-color: #FAFBFF;
  overflow-x: hidden;
}


.mainbody{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #c9e7f2, #62bada);
    
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    height: 100%;
    background-color: transparent;
  }
  .logo {
    font-weight: 500;
    font-size: 20px;
  }

  .navbar a {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
    font-weight: bold;
    position: relative;
  }

  .navbar .btn {
    background-color: #4f46ba;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .main {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    height: 95vh; 
    }

  .main-text {
    max-width: 50%;
    padding: 8rem 0;
  }

  .main-text h1 { 
    padding-left:5rem ;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  .main-text p {
    max-width: 80%;
    color: #555;
    padding: 2rem 0;
    padding-left: 5rem;    
    font-size: 1rem;    
    height: 60px;
  }

  .sec-text{
    display: flex ;
    align-items: center;
    padding: 2rem 0 2rem 5rem;
    
    
  }

  .started{
    background-color: #3734a9;
    border-radius: 47px;
    padding: 10px 34px ;
    color: white;
}

  .works{
    display: flex;
    align-items: center;
    padding-left: 33px;
  }
  .works img{
    width: 2.8rem;
  }

  
  .get-text{
    margin-left: 1rem;
    color: #3734A9;
    font-size: 16px;
  }
  
  .check {
      display: flex;
      padding-left: 5.5rem;
      /* margin-top: 40px; */
    }

    .check img{
        width: 1rem;
    }
    
    .checkserv{
        margin-left: 35px;
    }

    .check-text{
        margin-left: 0.5rem;
        font-size: 16px;
        color: #757095;

    }   
    
    .main-image {
      position: relative;
      
    }
  
    .main-image img {
      width: 25rem;
      margin-right: 5rem;
      /* transform: rotate(-5deg); */
      
    }


/* company  */

.partner {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
    margin: 5vh 0 ;
}

.part-text{
    font-size: 22px;
    font-weight: 400;
}


.partner img {
    max-width: 100%; 
    height: auto; 
}


/* portfolio */

.portfolio{
    margin:5rem 0 0 8rem;
    display: flex;
}

.left-port{
    max-width: 40%;
    
}

.main-port{
    font-size: 45px;
    font-weight: 600;
    line-height: 1;
    
}

.sub-port{
  line-height:2;
}

.right-port{
    padding-left:12rem ;
}

.quote-box {
    background-color: #C4C4C4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    position: relative;
    
  }

  .quote-box::before {
    content: "\201C";
    font-size: 40px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    height: 2rem;
    padding: 0.1rem 0.5rem;    
    position: absolute;
    top: -15px;
    left: 15px;
  }

  .quote-text {
    font-size: 15px;
    font-weight: 550;
    color: #000;
    margin: 0;
    line-height: 1;
  }

  .author { 
    line-height: 3;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    
  }


  /* cards */

  .cards-container {
   
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    border: 1px solid #e0e0e0;
  }

  .card .number {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }

 
  .card img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card h3 {
    font-size: 20px;
    color: #000;
    margin: 10px 0;
    text-align: center;
  }

  .card p {
    text-align: center;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }


  /* why us */

  .whyfirst{
    display: flex;
    margin: 5rem 0 0rem 8rem;
    

  }

  .why-firstimg{
    width: 50%;
    
  }

  .why-firstimg img{
    width: 80%;
  }



  .why-text {
    padding-right: 8rem;
    background-color: #fff;
  }

  .why-text h2 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #3734A9;
  }

  .why-text h3{
    line-height: 1;
    margin: 0;
    font-size: 35px;
    color: #000;
    font-weight: 800;
    margin-bottom: 1.8rem;
  }

  .whymsg {   
    font-size: 16px;
    color: #505887;
    
  }

  

  .benefits-list{
    margin-top: 1rem;
  }

  .whypoint{
    margin: 1.2rem 0;
  }

  .whypoint img{
    width: 0.8rem;
  }

  .whysecond{
    display: flex;
    margin: 0 10rem;
  }

  

  .whysecond h2{
    padding-top: 10rem;
  }

  .why-text{
    width: 50%;
    /* padding-top: 35rem ; */
  }

  .whysecond .quote-box{
    margin: 2rem 0;
  }

  .why-secondimg{
    width: 50%;
  }

  .whysecond img{
    margin: 0;
    padding: 0;
  }


  /* features */
  .features{
    padding: 4rem 2rem 4rem 10rem ;
    background-color: #C9E7F2;
  }
  .features h1{
    font-size: 35px;
  }

  .features h3{
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0 ;
  }

  .feat-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }

  .feat-grid .card{
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #c9e7f2;
    border-radius: 20px;
  }

  .feat-grid img{
    margin-top: 1 rem;
  }

  .feat-grid h3{
    margin: 1.3rem 0;
    text-align: left;
    font-weight: 600;
  }

  .feat-grid p{
    font-size: 0.8rem;
    text-align: left;
    color: #000;
    font-weight: 600;
  }

  .c1 p, .c2 p{
    font-weight: 400;
  }

  .c1{
    grid-area: 1/1/3/1;
  }

  .c2{
    grid-area: 1/2/3/2;
  }

  .c3, .c4{
    display: flex;
    align-items: center;
  }

  


  /* testimonials */

  .testimonials{
    margin: 2rem 0 2rem 10rem;
  }

  .testi{
    display: flex;
    gap: 30%;
    /* width: 30%; */
  }

  .testi-text{
    width: 30%;
  }

  .testi h1{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
  }

  .testi-msg{
    font-size: 14px;
    font-weight: 400;
  }

  .testi-img{
    display: flex;
    align-items: center;
  }
 

  .quotes{
    display: flex;
    gap: 5rem;
  }

  .testi-quote{
    margin-top: 2rem;
  }

  .testi-quote .quote-box {
    display: flex;
  }

  .quoteimg img{
    width: 100%;
    
  }


  /* stats */

  .stats{
    /* padding: 0; */
    width: max-content;
    object-fit: contain;
    margin: auto;
  }

  .stats img{
    width: 80vw;
    margin: auto;
    height: 11vw;
  }

  /*blogs  */

  .blogs{
    margin: 2rem 0 0 9rem;

  }

  .blogs h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 2rem;
    
  }

  .upperblog{
    
    height: 225px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* gap: 12rem; */
  }

  .uppertext, .lowertext{
    padding-top: 1rem ;
  }

  .uppertext h3{
    font-size: 14px;
  }

  .uppertext p{
    font-size: 25px;
    font-weight: 600;
    margin: 1.5rem 0;
  
  }

  .readmore{
    border: none;
    background-color: #fff ;
  }

  .blogbtn img{
    margin-left: 1rem;
  }
  
  .upperimg{
    padding: 0 10rem;
  }

  .upperblog img{
    height: 100%;
  }

  .downblog{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-content: space-between;
  }

  .lowerblog{
    
    background-color: #fff;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .lowermsg{
    margin: 1rem 0 2rem;
  }

  .lowermsg{
    width: 20rem;
  }

  .lowerimg, .lowerimg img{
    width: 100%;
  }

  
/* frequently question*/
.frequently{
  margin: 7rem 5rem 0 9rem;
}

.frequently h1{
  /* font-size: 25px; */
  font-weight: 600;
}
.freq {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.freqleft {
  padding: 1.5rem;
  margin: .5rem 0;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 7px;
}

.question {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  padding-top: 1rem;
  width: 80%;
  line-height: 2rem;
  display: none;
}

.active-answer {
  display: block;
}

/* freq right */
.freqright {
  padding: 2rem;
  height: 100%;
  text-align: center; 
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 7px;
}

.freqright i {
  margin: 3rem 0;
  font-size: 4rem;
}

.freqright p {
  margin: 2rem 0 5rem;
}

.freqright button {
  padding: 1.5rem 0;
  width: 100%;
  color: #fff;
  background-color: #FF7F5C;
  border: none;
  border-radius: 0.5rem;
}




  /* discover */
  .discover{
    padding: 6rem 5.5rem;
    margin: 2rem 5rem 0 8rem;
    text-align: center;
    color: #fff;
    background-image: url("img/dicover.png");
    background-size: cover;
    border-radius: 1rem;
}

.discover button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: max-content;
    border-radius: 7px;
    color: #fff;
    background-color: #FF7F5C;
    
}


/* footer */

.footer{
  margin: 4rem 5rem 0 7rem;
  display: flex;
  justify-content: space-between;
}

.media p, .inp {
  margin: 1.5rem 0;
  color: #757095;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.company-links, .resources-links {
  margin: 1.5rem 0;
}

.company-links li, .resources-links li {
  margin: 1.25rem 0;
  list-style: none;
}

.inp {
  display: flex;
}

.inp input {
  padding: .25rem .75rem;
  width: 225px;
  height: 45px;
  background-color: #EEEEFF;
  border: none;
  outline: none;
}

.inp button {
  padding: 0 .75rem;
  height: 45px;
  color: #fff;
  background-color: #3734A9;
  border: none;
}

.newsletter p {
  color: #181433;
}

.copyright {
  margin: 2rem 0 ;
  text-align: center;
  font-size: 15px;
}
